# <span style="color:red">**In-Class Activity**</span>
## Regression

This activity will require you to train, evaluate, and export regression models. It will also give you a chance to iteratively explore different models and parameter sets with the goal of improving the overall performance of the model you are producing.

### **The dataset:** Housing Prices

The dataset we will be using can be found [here](https://github.ccs.neu.edu/eaguiar/CS6220_Spring2021/blob/master/data/ml-battle/reg_housing_training.csv). That dataset is a slightly modified version of the House sales in King County data published [here](https://www.kaggle.com/harlfoxem/housesalesprediction).

The code snippet below will read that data in for you (so you don't need to download it).

For a detailed description of what is in the dataset, check out the second link above.

#### Reading the data

In [1]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("./data/ml-battle/reg_housing_training.csv")

In [4]:
df.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,280000.0,2,1.00,880,5750,1.0,0,0,3,6,880,0,1939,0,98126,47.5642,-122.379,1190,5750
1,1500000.0,4,3.25,3860,7199,2.0,0,1,3,9,2870,990,2005,0,98115,47.6855,-122.269,2940,9600
2,183500.0,3,1.00,1040,8892,1.0,0,0,4,6,800,240,1958,0,98023,47.3273,-122.349,820,9000
3,465000.0,3,2.00,1560,8509,1.0,0,0,3,8,790,770,1969,0,98034,47.7261,-122.220,1410,7428
4,884250.0,4,2.50,3840,12151,2.0,0,0,3,10,3840,0,1998,0,98075,47.5953,-121.986,3560,11044

#### Training a linear regression model

Note that here our objective is to use all of our numeric features to predict the `price` column, which is our dependent variable here.

### <span style="color:red">**Make sure to install scikit-learn 0.24.2 on your system or the last step will fail**</span>
`pip install scikit-learn==0.24.2`

## Regression

In [5]:
from sklearn.linear_model import LinearRegression

In [6]:
X = df.drop(['price'], axis = 1)
y = df['price']

In [7]:
lr = LinearRegression()

In [14]:
lr.fit(X.values, y)

LinearRegression()

In [15]:
# Testing predict()
lr.predict(X.iloc[0].values.reshape(1, -1))

array([221479.82872447])

### Evaluation

Here you can write some code to evaluate your model to the best of your abilities.

Note that your model will utimately be evaluated using the `R-squared` metric, so your local evaluations should likely make use of it as well.

#### Exporting your model

Exporting a trained sklearn model is as simple as it gets. The code snippet below will do that for you using `joblib`.

In [12]:
from joblib import dump, load

In [13]:
dump(lr, 'my-first-lr-model.joblib')

['my-first-lr-model.joblib']

In [13]:
# You can then load this model like so:
lr = load('my-first-lr-model.joblib')

### <span style="color:blue">Our internal Kaggle Competition</span>

Now that you trained and exported your model, let's see how your solution stacks up against the others.

Go to www.ml-battle.com (Everaldo will share the _login_ / _password_ in class)

Use the `Submit Model` button to upload your exported model and to see where you rank. Once your model is uploaded, it will be evaluated using an out-of-sample dataset that was set aside for that purpose.

<img src="https://github.com/anfibil/classification-battle/raw/master/temp/screenshot2.png">

You should experiment with different parameters and try your best to beat the baseline score. 

Once you're confident with how things work and familiar with the process, you should expand your search for the best model by trying out other regression methods available in `scikit-learn`. [This page](https://scikit-learn.org/stable/supervised_learning.html) provides you a list of all models available in that library (just search for "regression").

>As an incentive, the students with the two most accurate models will be granted **5 bonus points** on our quiz from this week :D